리스트

- append

In [2]:
sq_list = []
for i in range(10):
    sq_list.append(i*i)
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# 리스트 표현식
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [4]:
sq_list = [i * i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# 1에서 10까지 홀수의 제곱 리스트
odd_sq = [i * i for i in range(11) if i % 2]
odd_sq

[1, 9, 25, 49, 81]

- 특정 값의 인덱스 찾기

In [7]:
odd_sq.index(25)

2

In [8]:
for num in odd_sq:
    print(num)

1
9
25
49
81

In [10]:
for index, num in enumerate(odd_sq):
    print(f'{index} - {num}')

0 - 1
1 - 9
2 - 25
3 - 49
4 - 81

In [11]:
val = 25
for index, num in enumerate(odd_sq):
    if num == val:
        print(index)

2

- 할당과 복사

In [12]:
a = [1,2,3,4,5]
b = a
b[2] = 300
b

[1, 2, 300, 4, 5]

In [13]:
a

[1, 2, 300, 4, 5]

In [14]:
x = 5
y = x 
y = 100
x

5

리스트에서는 값이 카피가 안되고 포인터가 카피됨

.copy()는 ㄹㅇ 카피됨..

In [17]:
c = a.copy()
c[2] = 3
c

[1, 2, 3, 4, 5]

In [18]:
a

[1, 2, 300, 4, 5]

- 리스트의 합

In [19]:
sum(odd_sq)

165

In [29]:
sum = 0.
for i in range(1, 101):
    sum += i
print(sum)

5050.0

In [32]:
# 윗 문장에서 sum 이 정수형 변수로 바뀌어서, 더 이상 함수로 사용될 수 없음
sum(odd_sq)

TypeError: 'float' object is not callable

- 리스트 표현식

In [1]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [2]:
[i * k for i in range(2,4) for k in range(1, 10)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27]

- map : 리스트에 함수 적용
- DF, Series에 함수 적용은 apply

In [3]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [4]:
# floor, ceil : 바닥, 천장
import math
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = math.ceil(a[i])
a

[2, 3, 4, 5]

In [7]:
# 반올림
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = round(a[i])
a

[1, 2, 4, 5]

In [11]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = int(a[i]+0.5)
a

[1, 3, 4, 5, 7]

In [13]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
list(map(int,a))

[1, 2, 3, 4, 7]

In [14]:
for element in map(int, a):
    print(element)

1
2
3
4
7

In [15]:
# 두 개의 정수 입력, 예) 3 4
'3 4'.split()

['3', '4']

In [20]:
x, y = map(int, input().split())
x, y

(3, 4)

- 리스트의 할당, copy, deepcopy

In [1]:
a = [10, 20, 30, 40]
b = a
b[2] = 300
a

[10, 20, 300, 40]

In [2]:
b = a.copy()
b[2] = 30
b

[10, 20, 30, 40]

In [3]:
a

[10, 20, 300, 40]

In [5]:
a = [[1,2],[3,4]]
b = a.copy()
b[1][1] = 100
b

[[1, 2], [3, 100]]

In [9]:
a
# copy()를 써도 원래값이 바뀜 - shallow copy

[[1, 2], [3, 4]]

In [10]:
import copy
a = [[1,2],[3,4]]
b = copy.deepcopy(a)
b[1][1] = 100
b

[[1, 2], [3, 100]]

In [11]:
a
# deepcopy()

[[1, 2], [3, 4]]

In [12]:
# 1차원은 copy
# 2차원 이상은 deepcopy로 해야함