# Mile Per Gallon 연습문제

In [1]:
import numpy as np
import pandas as pd   
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
mpg.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

- 배기량(displacement) 대비 마력(horsepower) 열(hp_per_cc)을 추가하시오

In [4]:
mpg['hp_per_cc'] = mpg.horsepower / mpg.displacement
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.423453
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.471429
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.471698
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.493421
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.463576

- name으로부터 manufacturer와 모델을 추출하여 새로운 열 manufacturer와 model을 추가하고, name열은 삭제하시오

In [5]:
# name에서 제조사 추출
name = 'chevrolet chevelle malibu'
manu = name.split()[0]
manu

'chevrolet'

In [6]:
len(name)

25

In [7]:
len(manu)

9

In [8]:
name.split()[1:]

['chevelle', 'malibu']

In [9]:
' '.join(name.split()[1:])

'chevelle malibu'

In [10]:
# 문제2번
mpg['manufacturer'] = mpg.name.apply(lambda x: x.split()[0])
mpg['model'] = mpg.name.apply(lambda x: ' '.join(x.split()[1:]))
mpg.drop(columns=['name'], inplace=True)
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,0.423453,chevrolet,chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,0.471429,buick,skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,0.471698,plymouth,satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,0.493421,amc,rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,0.463576,ford,torino

- 엔진의 실린더(cylinders) 갯수별 연비(mpg)의 평균을 구하시오.

In [11]:
mpg.groupby('cylinders')['mpg'].mean()

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

- 생산지(origin)별 배기량 대비 마력(hp_per_cc)의 평균을 구하시오

In [12]:
mpg.groupby('origin')['hp_per_cc'].mean()

origin
europe    0.740005
japan     0.789485
usa       0.512063
Name: hp_per_cc, dtype: float64

- 모델이 5개 이상인 제조사에 대하여
연비(mpg)의 평균이 가장 좋은 제조사 Top 5를 구하시오

In [13]:
mpg.groupby('manufacturer')['model'].count()

manufacturer
amc              28
audi              7
bmw               2
buick            17
cadillac          2
capri             1
chevroelt         1
chevrolet        43
chevy             3
chrysler          6
datsun           23
dodge            28
fiat              8
ford             51
hi                1
honda            13
maxda             2
mazda            10
mercedes          1
mercedes-benz     2
mercury          11
nissan            1
oldsmobile       10
opel              4
peugeot           8
plymouth         31
pontiac          16
renault           5
saab              4
subaru            4
toyota           25
toyouta           1
triumph           1
vokswagen         1
volkswagen       15
volvo             6
vw                6
Name: model, dtype: int64

In [14]:
mpg.manufacturer.value_counts()
# 결과 : 시리즈

ford             51
chevrolet        43
plymouth         31
dodge            28
amc              28
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
oldsmobile       10
mazda            10
peugeot           8
fiat              8
audi              7
volvo             6
chrysler          6
vw                6
renault           5
saab              4
subaru            4
opel              4
chevy             3
mercedes-benz     2
cadillac          2
bmw               2
maxda             2
mercedes          1
triumph           1
vokswagen         1
toyouta           1
chevroelt         1
hi                1
nissan            1
capri             1
Name: manufacturer, dtype: int64

In [15]:
s = mpg.manufacturer.value_counts()
s[s >= 5]

ford          51
chevrolet     43
plymouth      31
dodge         28
amc           28
toyota        25
datsun        23
buick         17
pontiac       16
volkswagen    15
honda         13
mercury       11
oldsmobile    10
mazda         10
peugeot        8
fiat           8
audi           7
volvo          6
chrysler       6
vw             6
renault        5
Name: manufacturer, dtype: int64

In [16]:
big_manufacturer = s[s >= 5].index
big_manufacturer

Index(['ford', 'chevrolet', 'plymouth', 'dodge', 'amc', 'toyota', 'datsun',
       'buick', 'pontiac', 'volkswagen', 'honda', 'mercury', 'oldsmobile',
       'mazda', 'peugeot', 'fiat', 'audi', 'volvo', 'chrysler', 'vw',
       'renault'],
      dtype='object')

In [17]:
'ford' in big_manufacturer

True

In [18]:
# 전체 데이터에서 모델이 5개 이상인 제조사만 filtering
big_mpg = mpg[mpg.manufacturer.isin(big_manufacturer)]
mpg.shape, big_mpg.shape

((398, 11), (367, 11))

In [19]:
big_mpg.groupby('manufacturer')['mpg'].mean()

manufacturer
amc           18.246429
audi          26.714286
buick         19.182353
chevrolet     20.472093
chrysler      17.266667
datsun        31.113043
dodge         22.060714
fiat          28.912500
ford          19.694118
honda         33.761538
mazda         30.860000
mercury       19.118182
oldsmobile    21.100000
peugeot       23.687500
plymouth      21.703226
pontiac       20.012500
renault       32.880000
toyota        28.372000
volkswagen    29.106667
volvo         21.116667
vw            39.016667
Name: mpg, dtype: float64

In [20]:
# sort, head = Top5
big_mpg.groupby('manufacturer')['mpg'].mean().sort_values(ascending=False).head()

manufacturer
vw         39.016667
honda      33.761538
renault    32.880000
datsun     31.113043
mazda      30.860000
Name: mpg, dtype: float64